.App {
  .TextField {
    margin-bottom: 20px;
  }

  .cta {
    margin-left: auto;
    display: block;
  }

  .loading {
    height: 150px;
  }

  .View {
    .body {
      font-size: 1.4rem;
    }
  }
}
