.App {
  .TextField {
    margin-bottom: 20px;
  }

  .cta {
    margin-left: auto;
    display: block;
  }

  .loading {
    height: 150px;
  }

  .Container {
    background-color: white;
    margin-top: 40px;
    min-height: 350px;
    border-radius: 5px;
    border: solid 1px #ccc;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem;

      .headerIcon {
        height: 48px;
        margin-top: 18px;
      }
    }

    &.Collection {
      padding: 0;
    }

    .datagrid {
      min-height: 400px;
    }
  }

  .View {
    .body {
      font-size: 1.4rem;
    }
  }
}
