$drawerWidth: 240px;
$appBarHeight: 64px;

.AppHeader {
  display: flex;
  height: $appBarHeight;

  .appBar {
    transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
      width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }

  .appBarShift {
    width: calc(100% - #{$drawerWidth});
    transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    margin-left: $drawerWidth;
  }

  .menuButton {
    margin-right: 16px;
  }

  .hide {
    display: none;
  }
}
