.ContentContainer {
  background-color: white;
  margin-top: 40px;
  min-height: 350px;
  border-radius: 5px;
  border: solid 1px #ccc;

  &.Container {
    padding: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    .headerIcon {
      height: 48px;
      margin-top: 18px;
    }
  }

  .content {
    padding: 0px 2rem 2rem 2rem;
  }

  .datagrid {
    min-height: 400px;
  }
}
